.linkcard a {
    text-decoration: none;
    color: #000;
}
.linkcard a:visited {
    text-decoration: none;
    color: #000;
}
.infocontainer {
    background: #e2e2e2;
    margin: 25px 15px 0 15px;
    border-radius: 10px 10px 0 0;
    min-height: 390px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 20%);
}
.imgperfil {
    object-fit: cover;
    object-position: top;
    min-height: 175px;
    max-height: 175px;
    width: 260px;
    border-radius: 10px 10px 0 0;
}
.titledogs {
    font-size: 1.1rem;
    max-width: 260px;
}
.temperamenttittle, .weighttittle {
    font-weight: 600;
}
.temperamentlist, .weightlist {
    font-size: 0.8rem;
}

.infocardwidth {
    max-width: 260px;
}
.buttondetail {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    height: 50px;
    max-width: 260px;
    background: #3f3f3f;
    cursor: pointer;
    margin: 0 15px;
}
.buttondetail:hover {
    background: #000;
}