.controlbar {
    margin: 20px 0;
    display: inline-flex;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.filterby {
    display: inline-flex;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.sortby {
    display: block;
}
.formsearch {
    display: block;
}
select {
  margin: 0 5px;
  padding: 10px;
  min-width: 240px;
  cursor: pointer;
}
.searchinput {
  padding: 10px;
  min-width: 240px;
}
.searchbutton {
  padding: 10px;
  cursor: pointer;
}
.searchbutton:hover {
  background-color: #656565;
  color: #fff;
  border-color: #a8a8a8;
}